{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}ChipIn{% endblock %}
{% block content %}
<h1>ChipIn</h1>
<h2>Your Groups</h2>
<ul>
    {% for group in user.group_memberships.all %}
    <li>
        <a href="{% url 'chipin:group_detail' group.id %}">{{ group.name }}</a>
        {% if group.admin == request.user %}
            <a href="{% url 'chipin:delete_group' group.id %}" onclick="return confirm('Are you sure you want to delete this group?');">Delete</a>
        {% else %}
            <a href="{% url 'chipin:leave_group' group.id %}" onclick="return confirm('Are you sure you want to leave this group?');">Leave</a>
        {% endif %}
    </li>
    {% empty %}
    <li>You are not a member of any group yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'chipin:create_group' %}">Create a New Group</a>
{% endblock %}